@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.container{
    padding: 80px 10px 40px;
}

.treasureImg{
    padding: 40px 20px 0;
    height: auto;
}

.headText h2{
    font-family: 'Rokkitt', serif;    
}

.headText article{
    font-family: 'Rokkitt', serif;    
    letter-spacing: 1px;
}

.headText p{
    font-family: 'Rokkitt', serif; 
   letter-spacing: 0.3px;
   font-size: 16px;
   font-weight: 350;
}

a{
    color: #368350;
    font-family:  'Rokkitt', serif;
}