@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500;600&display=swap');


.contactHeader{
    font-family: 'Cinzel', serif;
}

.contactHeader p{
    font-family: 'Rokkitt', serif;
}

.contactHeader p span{
    cursor: pointer;
}

.contactForm{
    font-family: 'Rokkitt', serif;
}


.contactMesocial{
    padding: 51px 0 40px;
}

.contactMesocial h5{
    font-family: 'Rokkitt', serif;
    margin: 40px 0 0;
}

.notify{
    font-family: 'Rokkitt', serif;
}